.DS_Store

.github
.husky
.vscode

lib
coverage
node_modules

.gitignore
.dockerignore
.eslintignore
.npmrc

Dockerfile
docker-compose.yaml
entrypoint.sh

README.md
LICENSE

!.*.json

package-lock.json
